{% extends 'base.html.twig' %}

{% block title %}jQuery Test{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .button-style { background-color: #4CAF50; color: white; padding: 10px 20px; border: none; cursor: pointer; }
    .delete-button { background-color: #f44336; } /* Red color for delete button */
</style>

<div class="example-wrapper">


    <div class="p-3 m-3">
        <button id="btnUsers" class="button-style">Users</button>
        <button id="btnBitcoin" class="button-style">Bitcoin</button>
    </div>

    <!-- Upper List with Buttons -->
    <div class="d-flex justify-content-start p-3">
        <button id="loadUsers" class="button-style d-none me-2">List</button>
        <button id="loadUsersTable" class="button-style d-none">Table</button>

        <button id="loadBitcoin" class="button-style d-none">Table</button>
        <button id="loadBitcoinTable" class="button-style d-none">Table</button>
        <button id="callBitcoin" class="button-style d-none">Update</button>
    </div>

    <!-- Include user list -->
    {% include 'partials/users/user_list.html.twig' %}

    <hr>

    <!-- Include user table -->
    {% include 'partials/users/user_table.html.twig' %}

    <!-- Include bitcoin history -->
    {% include 'partials/bitcoin/bitcoin_history.html.twig' %}


</div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">

    <script>
        const users = {{ users|json_encode|raw }};
        {# const bitcoin_history = {{ bitcoin_history|json_encode|raw }}; #}
    </script>



{% endblock %}
