{% extends 'base.html.twig' %}

{% block title %}jQuery Test{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .button-style { background-color: #4CAF50; color: white; padding: 10px 20px; border: none; cursor: pointer; }
</style>

<div class="example-wrapper">

    <button id="myButton" class="button-style">Click me</button>

    <p id="response"></p>

</div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
        $(document).ready(function() {
            // Convert users data to JSON and assign it to a JavaScript variable
            const users = {{ users|json_encode|raw }};


            // Add a click event listener to the button
            $('#myButton').on('click', function() {
                // Check if users exist
                if (users.length > 0) {
                    // Display users in the response paragraph

                    const userInfo = users.map(user => `Name: ${user.name}, Email: ${user.email}`).join('<br>');
                    $('#response').html('Users:<br>' + userInfo);
                } else {
                    $('#response').text('No users found.');
                }
            });
        });
    </script>
{% endblock %}
