
<div>

    <table id="bitcoinHistoryTable" class="display table d-none" style="width:100%">
        <thead>
            <tr>
                <th>Date</th>
                <th>EUR</th>
                <th>USD</th>
                <th>GBP</th>
            </tr>
        </thead>
        <tbody>
            <!-- This will be filled by jQuery -->
        </tbody>
    </table>
    

</div>

<div id="bitcoinHistoryList">
    <!-- This will be filled by jQuery -->
</div>